
.submit {
  border-radius: 7px;
  padding: 10px;
  border: none;
  background-color: #6200ea;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: #3700b3;
}

.contact h1 {
  color: white;
  margin-top: -10px;
}

.label {
  color: white;
}

.contact-input {
  border-radius: 7px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


.group {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}


.contact-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.contact {
  background-color: #252525;
  color: white;
  height: 500px;
  width: 500px;
  border-radius: 25px;
  padding: 50px;
}

